body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.grid{
    display: grid;
    grid-template-columns: auto auto;
}
#task{
    display: block;

}

#add{
    margin-top: 10px;
    background-color: seagreen;
    color: wheat;
    border: black solid 1px;
    height: 35px;
    border-radius: 10px;
}

#clear{
    margin-top: 10px;
    background-color: red;
    color: wheat;
    border: black solid 1px;
    height: 35px;
    border-radius: 10px;
}